<!DOCTYPE html>

<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" media="all" href="/gtvg/css/gtvg.css" />
  </head>

  <body>
  
    Hello, <br>
    
	<br>Hope you are doing great.<br>
	<br>Our students of around <span th:text="${count}"> </span> are requested to learn "<span th:text="${skillName}"> </span>".<br>
	 Can you able to teach them the skills by conducting an workshop.<br>
	<br>Other Instrcutors are also notified about this request, Please check the upcoming workshops before creating the workshop.<br><br>
	<br>Please do not reply to this email. This is system generated email.<br><br>
    
    Thanks,<br>
	Workshop Team
  </body>

</html>