<!DOCTYPE html>

<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" media="all" href="/gtvg/css/gtvg.css" />
  </head>

  <body>
  
    Hello <span th:text="${firstName}"> User </span> <br>
    
	<br>Welcome to Clark Skill Workshop.<br>
	<br>You are successfully requested the skill workshops for the skills "<span th:text="${skillName}"> </span>" <br>
	<br>Instrcutors will get notify about your request, Please visit the website for the upcoming workshops.<br><br>
	<br>Please do not reply to this email. This is system generated email.<br><br>
    
    Thanks,<br>
	Workshop Team
  </body>

</html>